<div class="container-fluid">
        <div class="row mx-auto">
                <div class="mx-auto p-5">
                    <h1 class="display-4 p-10">Its Easy to Get Started</h1>
                </div>
        </div>
        <div class="row">
            <div class="col-lg-3 mx-auto">
                <div class="card">
                    <img class="card-img-top" src="/images/project.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Create a Project</h5>
                        <p class="card-text">Propose a project that you think would be impactful for your community</p>
                        <a href="#" class="btn btn-info">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mx-auto">
                <div class="card">
                    <img class="card-img-top" src="/images/table.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Publish a Plan</h5>
                        <p class="card-text">Publish a plan to the community for your project</p>
                        <a href="#" class="btn btn-info">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mx-auto">
                <div class="card">
                    <img class="card-img-top" src="/images/rocket.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Community Votes</h5>
                        <p class="card-text">Get community memebers to vote for your project</p>
                        <a href="#" class="btn btn-info">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mx-auto">
                <img class="card-img-top" src="/images/moon.jpg" alt="Card image cap">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Finish your Project</h5>
                            <p class="card-text">Work with appropriate organizations to finalize your project</p>
                            <a href="#" class="btn btn-info">Learn More</a>
                        </div>
                    </div>
             </div>
        </div>
    </div>